#blog h3, h4{
    text-align: center;
}
#blog .contenedor {
    display: flex; /*para trabajar con flexboxes*/
    justify-content: center;
    flex-wrap: wrap; /*sirve para que cuando una imagen no quepa al costado se 
    acomode abajo*/
}

#blog article {
    margin: 15px;
}

#blog img {
    width: 100%;
    max-width: 280px;
}